[http]
[https]
[user]
	email = imzhuo@foxmail.com
	name = Zhuo Zhang
[core]
	editor = vim
    #editor = subl -n w # sublime
    #editor = notepad++ -multiInst -nosession # notepad++
    quotepath = false
    #autocrlf = input # linux/macosx
    #autocrlf = true # windows
[https]
    #proxy = http://127.0.0.1:44099
[http]
    #proxy = http://127.0.0.1:44099

# when do git difftool with vimdiff, exit with :cq
[difftool]
	trustExitCode = true
[mergetool]
	trustExitCode = true

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=tformat:'%Cgreen%h%Creset %ad | %s%d %C(bold blue)[%an]%Creset' --graph --date=short
    type = cat-file -t
    dump = cat-file -p

[commit]
    template = ~/.gitmessage
[diff]
	tool = vimdiff
[credential]
	helper = store
[push]
	default = simple
