[user]
    email = imzhuo@foxmail.com
    name = Zhuo Zhang
    signingkey = 0961A0300B14A36D
[core]
    editor = vim
    #editor = subl -n w # sublime
    #editor = notepad++ -multiInst -nosession # notepad++
    #editor = 'C:\\Program Files (x86)\\Microsoft VS Code\\code.exe' -w  # vscode
    #editor = 'E:\\soft\\VSCode-Insider\\Code - Insiders.exe' -w  # vscode-insiders
    quotepath = false
    #autocrlf = input # linux/macosx
    #autocrlf = true # windows
[https]
    #proxy = http://127.0.0.1:44099
[http]
    #proxy = http://127.0.0.1:44099

# when do git difftool with vimdiff, exit with :cq
[difftool]
    trustExitCode = true
[mergetool]
    trustExitCode = true

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=tformat:'%Cgreen%h%Creset %ad | %s%d %C(bold blue)[%an]%Creset' --graph --date=short
    type = cat-file -t
    dump = cat-file -p

[commit]
    template = ~/.gitmessage
    gpgsign = true
[diff]
    tool = vimdiff
[credential]
    helper = store
[push]
    default = simple

# for git >= 2.19, we have to activate using builtin rebase/stash
# for fast speed. ref: https://github.com/git-for-windows/build-extra/pull/203#issuecomment-420927710
#[rebase]
#    useBuiltin = true
#[stash]
#    useBuiltin = true

# since Git 2.27, we have to set git pull's default strategy ourselves
# this helps people don't create merge commits, or let them know they are creating merge commits
# ref: https://stackoverflow.com/a/62653694/2999096
[pull]
    rebase = true
[status]
    submodulesummary = 1

# for git >= 2.30, when we do `git init`
# we can config the default name of the created branch
# otherwise it will show error message
[init]
    defaultBranch = master
