settings set target.x86-disassembly-flavor intel

# 用整数类型显示 int8_t, uint8_t， 替代默认的十六进制
type format add -C no -f decimal int8_t
type format add -C no -f unsigned decimal uint8_t

# NEON 相关的数据类型打印
command script import ~/.lldbcfg/my_print.py

#command script import ~/.lldbcfg/debugvis.py
#command script import ~/.lldbcfg/hello.py
#command script import ~/.lldbcfg/print_named_array.py
#command script import ~/.lldbcfg/print_my_array.py

# cvmat.py 有问题，表现为：用 VSCode 调试时，hello.py 里定义的命令 yay 无法执行
# 但奇怪的是，新开命令行的 lldb 则可以用 yay
#command script import ~/.lldbcfg/CvMatForLLDB/cvmat.py

#command script import ~/.my_config/home/.lldbcfg/OpenImageDebugger/oid.py


# >>> Error:
#p src.rows
#error: expression failed to parse:
#error: <user expression 0>:1:4: member access into incomplete type 'const cv::Mat'
#src.rows
#
# >>> Solution:
# include(sleek.cmake)
# sleek_add_flags("-fstandalone-debug")
